<template>
    <ul class="menu">
        <li :key="item.route.name" v-for="item in items">
            <a v-if="item.click" @click="item.click">{{ item.title }}</a>

            <router-link v-else :to="item.route">{{ item.title }}</router-link>
        </li>
    </ul>
</template>

<script>
export default {
    props: {
        items: {
            type: Array,
            required: true
        }
    }
}
</script>
