<template>
    <div class="off-canvas" :class="{ active: offCanvasIsActive }" >
        <div @click="offCanvasToggle">
            <div class="off-canvas-backdrop" />
            <div class="off-canvas-sidebar px-1">
                <card class="my-1" :key="item.title" v-for="item in sidebarItems">
                    <divider v-if="item.title" :tag="'header'" :data-content="item.title" slot="header" />
                    <list :items="item.menu" slot="content" />
                </card>
            </div>
            <button class="off-canvas-toggle" />
        </div>
        <slot name="content" />
    </div>
</template>

<script>
import card      from "./card"
import list      from "./list"
import divider   from "./divider"

export default {
    data () {
        return {
            offCanvasIsActive: false,
        }
    },

    props: {
        sidebarItems: {
            type: Array,
            required: true
        }
    },

    methods: {
        offCanvasToggle () {
            this.offCanvasIsActive = !this.offCanvasIsActive

            this.$emit('toggled', this.offCanvasIsActive)
        }
    },

    components: { card, list, divider }
}
</script>
