 /* W3.CSS 4.13 June 2019 by Jan Egil and Borge Refsnes */

 html {
     box-sizing: border-box
 }
/*
 *, *:before, *:after {
     box-sizing: inherit
 } */

 /* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */

 html {
     -ms-text-size-adjust: 100%;
     -webkit-text-size-adjust: 100%
 }

 body {
     margin: 0
 }

 article, aside, details, figcaption, figure, footer, header, main, menu, nav, section {
     display: block
 }

 summary {
     display: list-item
 }

 audio, canvas, progress, video {
     display: inline-block
 }

 progress {
     vertical-align: baseline
 }

 audio:not([controls]) {
     display: none;
     height: 0
 }

 [hidden], template {
     display: none
 }

 a {
     background-color: transparent
 }

 a:active, a:hover {
     outline-width: 0
 }

 abbr[title] {
     border-bottom: none;
     text-decoration: underline;
     -webkit-text-decoration: underline dotted;
             text-decoration: underline dotted
 }

 b, strong {
     font-weight: bolder
 }

 dfn {
     font-style: italic
 }

 mark {
     background: #ff0;
     color: #000
 }

 small {
     font-size: 80%
 }

 sub, sup {
     font-size: 75%;
     line-height: 0;
     position: relative;
     vertical-align: baseline
 }

 sub {
     bottom: -0.25em
 }

 sup {
     top: -0.5em
 }

 figure {
     margin: 1em 40px
 }

 img {
     border-style: none
 }

 code, kbd, pre, samp {
     font-family: monospace, monospace;
     font-size: 1em
 }

 hr {
     box-sizing: content-box;
     height: 0;
     overflow: visible
 }

 button, input, select, textarea, optgroup {
     font: inherit;
     margin: 0
 }

 optgroup {
     font-weight: bold
 }

 button, input {
     overflow: visible
 }

 button, select {
     text-transform: none
 }

 button, [type=button], [type=reset], [type=submit] {
     -webkit-appearance: button
 }

 button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
     border-style: none;
     padding: 0
 }

 button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
     outline: 1px dotted ButtonText
 }

 fieldset {
     border: 1px solid #c0c0c0;
     margin: 0 2px;
     padding: .35em .625em .75em
 }

 legend {
     color: inherit;
     display: table;
     max-width: 100%;
     padding: 0;
     white-space: normal
 }

 textarea {
     overflow: auto
 }

 [type=checkbox], [type=radio] {
     padding: 0
 }

 [type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
     height: auto
 }

 [type=search] {
     -webkit-appearance: textfield;
     outline-offset: -2px
 }

 [type=search]::-webkit-search-decoration {
     -webkit-appearance: none
 }

 ::-webkit-file-upload-button {
     -webkit-appearance: button;
     font: inherit
 }

 /* End extract */

 html, body {
     font-family: Verdana, sans-serif;
     font-size: 15px;
     line-height: 1.5
 }

 html {
     overflow-x: hidden
 }

 h1 {
     font-size: 36px
 }

 h2 {
     font-size: 30px
 }

 h3 {
     font-size: 24px
 }

 h4 {
     font-size: 20px
 }

 h5 {
     font-size: 18px
 }

 h6 {
     font-size: 16px
 }

 .w3-serif {
     font-family: serif
 }

 h1, h2, h3, h4, h5, h6 {
     font-family: "Segoe UI", Arial, sans-serif;
     font-weight: 400;
     margin: 10px 0
 }

 .w3-wide {
     letter-spacing: 4px
 }

 hr {
     border: 0;
     border-top: 1px solid #eee;
     margin: 20px 0
 }

 .w3-image {
     max-width: 100%;
     height: auto
 }

 img {
     vertical-align: middle
 }

 a {
     color: inherit
 }

 .w3-table, .w3-table-all {
     border-collapse: collapse;
     border-spacing: 0;
     width: 100%;
     display: table
 }

 .w3-table-all {
     border: 1px solid #ccc
 }

 .w3-bordered tr, .w3-table-all tr {
     border-bottom: 1px solid #ddd
 }

 .w3-striped tbody tr:nth-child(even) {
     background-color: #f1f1f1
 }

 .w3-table-all tr:nth-child(odd) {
     background-color: #fff
 }

 .w3-table-all tr:nth-child(even) {
     background-color: #f1f1f1
 }

 .w3-hoverable tbody tr:hover, .w3-ul.w3-hoverable li:hover {
     background-color: #ccc
 }

 .w3-centered tr th, .w3-centered tr td {
     text-align: center
 }

 .w3-table td, .w3-table th, .w3-table-all td, .w3-table-all th {
     padding: 8px 8px;
     display: table-cell;
     text-align: left;
     vertical-align: top
 }

 .w3-table th:first-child, .w3-table td:first-child, .w3-table-all th:first-child, .w3-table-all td:first-child {
     padding-left: 16px
 }

 .w3-btn, .w3-button {
     border: none;
     display: inline-block;
     padding: 8px 16px;
     vertical-align: middle;
     overflow: hidden;
     text-decoration: none;
     color: inherit;
     background-color: inherit;
     text-align: center;
     cursor: pointer;
     white-space: nowrap
 }

 .w3-btn:hover {
     box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
 }

 .w3-btn, .w3-button {
     -webkit-touch-callout: none;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none
 }

 .w3-disabled, .w3-btn:disabled, .w3-button:disabled {
     cursor: not-allowed;
     opacity: 0.3
 }

 .w3-disabled *, :disabled * {
     pointer-events: none
 }

 .w3-btn.w3-disabled:hover, .w3-btn:disabled:hover {
     box-shadow: none
 }

 .w3-badge, .w3-tag {
     background-color: #000;
     color: #fff;
     display: inline-block;
     padding-left: 8px;
     padding-right: 8px;
     text-align: center
 }

 .w3-badge {
     border-radius: 50%
 }

 .w3-ul {
     list-style-type: none;
     padding: 0;
     margin: 0
 }

 .w3-ul li {
     padding: 8px 16px;
     border-bottom: 1px solid #ddd
 }

 .w3-ul li:last-child {
     border-bottom: none
 }

 .w3-tooltip, .w3-display-container {
     position: relative
 }

 .w3-tooltip .w3-text {
     display: none
 }

 .w3-tooltip:hover .w3-text {
     display: inline-block
 }

 .w3-ripple:active {
     opacity: 0.5
 }

 .w3-ripple {
     transition: opacity 0s
 }

 .w3-input {
     padding: 8px;
     display: block;
     border: none;
     border-bottom: 1px solid #ccc;
     width: 100%
 }

 .w3-select {
     padding: 9px 0;
     width: 100%;
     border: none;
     border-bottom: 1px solid #ccc
 }

 .w3-dropdown-click, .w3-dropdown-hover {
     position: relative;
     display: inline-block;
     cursor: pointer
 }

 .w3-dropdown-hover:hover .w3-dropdown-content {
     display: block
 }

 .w3-dropdown-hover:first-child, .w3-dropdown-click:hover {
     background-color: #ccc;
     color: #000
 }

 .w3-dropdown-hover:hover>.w3-button:first-child, .w3-dropdown-click:hover>.w3-button:first-child {
     background-color: #ccc;
     color: #000
 }

 .w3-dropdown-content {
     cursor: auto;
     color: #000;
     background-color: #fff;
     display: none;
     position: absolute;
     min-width: 160px;
     margin: 0;
     padding: 0;
     z-index: 1
 }

 .w3-check, .w3-radio {
     width: 24px;
     height: 24px;
     position: relative;
     top: 6px
 }

 .w3-sidebar {
     height: 100%;
     width: 200px;
     background-color: #fff;
     position: fixed!important;
     z-index: 1;
     overflow: auto
 }

 .w3-bar-block .w3-dropdown-hover, .w3-bar-block .w3-dropdown-click {
     width: 100%
 }

 .w3-bar-block .w3-dropdown-hover .w3-dropdown-content, .w3-bar-block .w3-dropdown-click .w3-dropdown-content {
     min-width: 100%
 }

 .w3-bar-block .w3-dropdown-hover .w3-button, .w3-bar-block .w3-dropdown-click .w3-button {
     width: 100%;
     text-align: left;
     padding: 8px 16px
 }

 .w3-main, #main {
     transition: margin-left .4s
 }

 .w3-modal {
     z-index: 3;
     display: none;
     padding-top: 100px;
     position: fixed;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     overflow: auto;
     background-color: rgb(0, 0, 0);
     background-color: rgba(0, 0, 0, 0.4)
 }

 .w3-modal-content {
     margin: auto;
     background-color: #fff;
     position: relative;
     padding: 0;
     outline: 0;
     width: 600px
 }

 .w3-bar {
     width: 100%;
     overflow: hidden
 }

 .w3-center .w3-bar {
     display: inline-block;
     width: auto
 }

 .w3-bar .w3-bar-item {
     padding: 8px 16px;
     float: left;
     width: auto;
     border: none;
     display: block;
     outline: 0
 }

 .w3-bar .w3-dropdown-hover, .w3-bar .w3-dropdown-click {
     position: static;
     float: left
 }

 .w3-bar .w3-button {
     white-space: normal
 }

 .w3-bar-block .w3-bar-item {
     width: 100%;
     display: block;
     padding: 8px 16px;
     text-align: left;
     border: none;
     white-space: normal;
     float: none;
     outline: 0
 }

 .w3-bar-block.w3-center .w3-bar-item {
     text-align: center
 }

 .w3-block {
     display: block;
     width: 100%
 }

 .w3-responsive {
     display: block;
     overflow-x: auto
 }

 .w3-container:after, .w3-container:before, .w3-panel:after, .w3-panel:before, .w3-row:after, .w3-row:before, .w3-row-padding:after, .w3-row-padding:before, .w3-cell-row:before, .w3-cell-row:after, .w3-clear:after, .w3-clear:before, .w3-bar:before, .w3-bar:after {
     content: "";
     display: table;
     clear: both
 }

 .w3-col, .w3-half, .w3-third, .w3-twothird, .w3-threequarter, .w3-quarter {
     float: left;
     width: 100%
 }

 .w3-col.s1 {
     width: 8.33333%
 }

 .w3-col.s2 {
     width: 16.66666%
 }

 .w3-col.s3 {
     width: 24.99999%
 }

 .w3-col.s4 {
     width: 33.33333%
 }

 .w3-col.s5 {
     width: 41.66666%
 }

 .w3-col.s6 {
     width: 49.99999%
 }

 .w3-col.s7 {
     width: 58.33333%
 }

 .w3-col.s8 {
     width: 66.66666%
 }

 .w3-col.s9 {
     width: 74.99999%
 }

 .w3-col.s10 {
     width: 83.33333%
 }

 .w3-col.s11 {
     width: 91.66666%
 }

 .w3-col.s12 {
     width: 99.99999%
 }

 @media (min-width:601px) {
     .w3-col.m1 {
         width: 8.33333%
     }
     .w3-col.m2 {
         width: 16.66666%
     }
     .w3-col.m3, .w3-quarter {
         width: 24.99999%
     }
     .w3-col.m4, .w3-third {
         width: 33.33333%
     }
     .w3-col.m5 {
         width: 41.66666%
     }
     .w3-col.m6, .w3-half {
         width: 49.99999%
     }
     .w3-col.m7 {
         width: 58.33333%
     }
     .w3-col.m8, .w3-twothird {
         width: 66.66666%
     }
     .w3-col.m9, .w3-threequarter {
         width: 74.99999%
     }
     .w3-col.m10 {
         width: 83.33333%
     }
     .w3-col.m11 {
         width: 91.66666%
     }
     .w3-col.m12 {
         width: 99.99999%
     }
 }

 @media (min-width:993px) {
     .w3-col.l1 {
         width: 8.33333%
     }
     .w3-col.l2 {
         width: 16.66666%
     }
     .w3-col.l3 {
         width: 24.99999%
     }
     .w3-col.l4 {
         width: 33.33333%
     }
     .w3-col.l5 {
         width: 41.66666%
     }
     .w3-col.l6 {
         width: 49.99999%
     }
     .w3-col.l7 {
         width: 58.33333%
     }
     .w3-col.l8 {
         width: 66.66666%
     }
     .w3-col.l9 {
         width: 74.99999%
     }
     .w3-col.l10 {
         width: 83.33333%
     }
     .w3-col.l11 {
         width: 91.66666%
     }
     .w3-col.l12 {
         width: 99.99999%
     }
 }

 .w3-rest {
     overflow: hidden
 }

 .w3-stretch {
     margin-left: -16px;
     margin-right: -16px
 }

 .w3-content, .w3-auto {
     margin-left: auto;
     margin-right: auto
 }

 .w3-content {
     max-width: 980px
 }

 .w3-auto {
     max-width: 1140px
 }

 .w3-cell-row {
     display: table;
     width: 100%
 }

 .w3-cell {
     display: table-cell
 }

 .w3-cell-top {
     vertical-align: top
 }

 .w3-cell-middle {
     vertical-align: middle
 }

 .w3-cell-bottom {
     vertical-align: bottom
 }

 .w3-hide {
     display: none!important
 }

 .w3-show-block, .w3-show {
     display: block!important
 }

 .w3-show-inline-block {
     display: inline-block!important
 }

 @media (max-width:1205px) {
     .w3-auto {
         max-width: 95%
     }
 }

 @media (max-width:600px) {
     .w3-modal-content {
         margin: 0 10px;
         width: auto!important
     }
     .w3-modal {
         padding-top: 30px
     }
     .w3-dropdown-hover.w3-mobile .w3-dropdown-content, .w3-dropdown-click.w3-mobile .w3-dropdown-content {
         position: relative
     }
     .w3-hide-small {
         display: none!important
     }
     .w3-mobile {
         display: block;
         width: 100%!important
     }
     .w3-bar-item.w3-mobile, .w3-dropdown-hover.w3-mobile, .w3-dropdown-click.w3-mobile {
         text-align: center
     }
     .w3-dropdown-hover.w3-mobile, .w3-dropdown-hover.w3-mobile .w3-btn, .w3-dropdown-hover.w3-mobile .w3-button, .w3-dropdown-click.w3-mobile, .w3-dropdown-click.w3-mobile .w3-btn, .w3-dropdown-click.w3-mobile .w3-button {
         width: 100%
     }
 }

 @media (max-width:768px) {
     .w3-modal-content {
         width: 500px
     }
     .w3-modal {
         padding-top: 50px
     }
 }

 @media (min-width:993px) {
     .w3-modal-content {
         width: 900px
     }
     .w3-hide-large {
         display: none!important
     }
     .w3-sidebar.w3-collapse {
         display: block!important
     }
 }

 @media (max-width:992px) and (min-width:601px) {
     .w3-hide-medium {
         display: none!important
     }
 }

 @media (max-width:992px) {
     .w3-sidebar.w3-collapse {
         display: none
     }
     .w3-main {
         margin-left: 0!important;
         margin-right: 0!important
     }
     .w3-auto {
         max-width: 100%
     }
 }

 .w3-top, .w3-bottom {
     position: fixed;
     width: 100%;
     z-index: 1
 }

 .w3-top {
     top: 0
 }

 .w3-bottom {
     bottom: 0
 }

 .w3-overlay {
     position: fixed;
     display: none;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: rgba(0, 0, 0, 0.5);
     z-index: 2
 }

 .w3-display-topleft {
     position: absolute;
     left: 0;
     top: 0
 }

 .w3-display-topright {
     position: absolute;
     right: 0;
     top: 0
 }

 .w3-display-bottomleft {
     position: absolute;
     left: 0;
     bottom: 0
 }

 .w3-display-bottomright {
     position: absolute;
     right: 0;
     bottom: 0
 }

 .w3-display-middle {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%)
 }

 .w3-display-left {
     position: absolute;
     top: 50%;
     left: 0%;
     transform: translate(0%, -50%);
     -ms-transform: translate(-0%, -50%)
 }

 .w3-display-right {
     position: absolute;
     top: 50%;
     right: 0%;
     transform: translate(0%, -50%);
     -ms-transform: translate(0%, -50%)
 }

 .w3-display-topmiddle {
     position: absolute;
     left: 50%;
     top: 0;
     transform: translate(-50%, 0%);
     -ms-transform: translate(-50%, 0%)
 }

 .w3-display-bottommiddle {
     position: absolute;
     left: 50%;
     bottom: 0;
     transform: translate(-50%, 0%);
     -ms-transform: translate(-50%, 0%)
 }

 .w3-display-container:hover .w3-display-hover {
     display: block
 }

 .w3-display-container:hover span.w3-display-hover {
     display: inline-block
 }

 .w3-display-hover {
     display: none
 }

 .w3-display-position {
     position: absolute
 }

 .w3-circle {
     border-radius: 50%
 }

 .w3-round-small {
     border-radius: 2px
 }

 .w3-round, .w3-round-medium {
     border-radius: 4px
 }

 .w3-round-large {
     border-radius: 8px
 }

 .w3-round-xlarge {
     border-radius: 16px
 }

 .w3-round-xxlarge {
     border-radius: 32px
 }

 .w3-row-padding, .w3-row-padding>.w3-half, .w3-row-padding>.w3-third, .w3-row-padding>.w3-twothird, .w3-row-padding>.w3-threequarter, .w3-row-padding>.w3-quarter, .w3-row-padding>.w3-col {
     padding: 0 8px
 }

 .w3-container, .w3-panel {
     padding: 0.01em 16px
 }

 .w3-panel {
     margin-top: 16px;
     margin-bottom: 16px
 }

 .w3-code, .w3-codespan {
     font-family: Consolas, "courier new";
     font-size: 16px
 }

 .w3-code {
     width: auto;
     background-color: #fff;
     padding: 8px 12px;
     border-left: 4px solid #4CAF50;
     word-wrap: break-word
 }

 .w3-codespan {
     color: crimson;
     background-color: #f1f1f1;
     padding-left: 4px;
     padding-right: 4px;
     font-size: 110%
 }

 .w3-card, .w3-card-2 {
     box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
 }

 .w3-card-4, .w3-hover-shadow:hover {
     box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19)
 }

 .w3-spin {
     -webkit-animation: w3-spin 2s infinite linear;
             animation: w3-spin 2s infinite linear
 }

 @-webkit-keyframes w3-spin {
     0% {
         transform: rotate(0deg)
     }
     100% {
         transform: rotate(359deg)
     }
 }

 @keyframes w3-spin {
     0% {
         transform: rotate(0deg)
     }
     100% {
         transform: rotate(359deg)
     }
 }

 .w3-animate-fading {
     -webkit-animation: fading 10s infinite;
             animation: fading 10s infinite
 }

 @-webkit-keyframes fading {
     0% {
         opacity: 0
     }
     50% {
         opacity: 1
     }
     100% {
         opacity: 0
     }
 }

 @keyframes fading {
     0% {
         opacity: 0
     }
     50% {
         opacity: 1
     }
     100% {
         opacity: 0
     }
 }

 .w3-animate-opacity {
     -webkit-animation: opac 0.8s;
             animation: opac 0.8s
 }

 @-webkit-keyframes opac {
     from {
         opacity: 0
     }
     to {
         opacity: 1
     }
 }

 @keyframes opac {
     from {
         opacity: 0
     }
     to {
         opacity: 1
     }
 }

 .w3-animate-top {
     position: relative;
     -webkit-animation: animatetop 0.4s;
             animation: animatetop 0.4s
 }

 @-webkit-keyframes animatetop {
     from {
         top: -300px;
         opacity: 0
     }
     to {
         top: 0;
         opacity: 1
     }
 }

 @keyframes animatetop {
     from {
         top: -300px;
         opacity: 0
     }
     to {
         top: 0;
         opacity: 1
     }
 }

 .w3-animate-left {
     position: relative;
     -webkit-animation: animateleft 0.4s;
             animation: animateleft 0.4s
 }

 @-webkit-keyframes animateleft {
     from {
         left: -300px;
         opacity: 0
     }
     to {
         left: 0;
         opacity: 1
     }
 }

 @keyframes animateleft {
     from {
         left: -300px;
         opacity: 0
     }
     to {
         left: 0;
         opacity: 1
     }
 }

 .w3-animate-right {
     position: relative;
     -webkit-animation: animateright 0.4s;
             animation: animateright 0.4s
 }

 @-webkit-keyframes animateright {
     from {
         right: -300px;
         opacity: 0
     }
     to {
         right: 0;
         opacity: 1
     }
 }

 @keyframes animateright {
     from {
         right: -300px;
         opacity: 0
     }
     to {
         right: 0;
         opacity: 1
     }
 }

 .w3-animate-bottom {
     position: relative;
     -webkit-animation: animatebottom 0.4s;
             animation: animatebottom 0.4s
 }

 @-webkit-keyframes animatebottom {
     from {
         bottom: -300px;
         opacity: 0
     }
     to {
         bottom: 0;
         opacity: 1
     }
 }

 @keyframes animatebottom {
     from {
         bottom: -300px;
         opacity: 0
     }
     to {
         bottom: 0;
         opacity: 1
     }
 }

 .w3-animate-zoom {
     -webkit-animation: animatezoom 0.6s;
             animation: animatezoom 0.6s
 }

 @-webkit-keyframes animatezoom {
     from {
         transform: scale(0)
     }
     to {
         transform: scale(1)
     }
 }

 @keyframes animatezoom {
     from {
         transform: scale(0)
     }
     to {
         transform: scale(1)
     }
 }

 .w3-animate-input {
     transition: width 0.4s ease-in-out
 }

 .w3-animate-input:focus {
     width: 100%!important
 }

 .w3-opacity, .w3-hover-opacity:hover {
     opacity: 0.60
 }

 .w3-opacity-off, .w3-hover-opacity-off:hover {
     opacity: 1
 }

 .w3-opacity-max {
     opacity: 0.25
 }

 .w3-opacity-min {
     opacity: 0.75
 }

 .w3-greyscale-max, .w3-grayscale-max, .w3-hover-greyscale:hover, .w3-hover-grayscale:hover {
     -webkit-filter: grayscale(100%);
             filter: grayscale(100%)
 }

 .w3-greyscale, .w3-grayscale {
     -webkit-filter: grayscale(75%);
             filter: grayscale(75%)
 }

 .w3-greyscale-min, .w3-grayscale-min {
     -webkit-filter: grayscale(50%);
             filter: grayscale(50%)
 }

 .w3-sepia {
     -webkit-filter: sepia(75%);
             filter: sepia(75%)
 }

 .w3-sepia-max, .w3-hover-sepia:hover {
     -webkit-filter: sepia(100%);
             filter: sepia(100%)
 }

 .w3-sepia-min {
     -webkit-filter: sepia(50%);
             filter: sepia(50%)
 }

 .w3-tiny {
     font-size: 10px!important
 }

 .w3-small {
     font-size: 12px!important
 }

 .w3-medium {
     font-size: 15px!important
 }

 .w3-large {
     font-size: 18px!important
 }

 .w3-xlarge {
     font-size: 24px!important
 }

 .w3-xxlarge {
     font-size: 36px!important
 }

 .w3-xxxlarge {
     font-size: 48px!important
 }

 .w3-jumbo {
     font-size: 64px!important
 }

 .w3-left-align {
     text-align: left!important
 }

 .w3-right-align {
     text-align: right!important
 }

 .w3-justify {
     text-align: justify!important
 }

 .w3-center {
     text-align: center!important
 }

 .w3-border-0 {
     border: 0!important
 }

 .w3-border {
     border: 1px solid #ccc!important
 }

 .w3-border-top {
     border-top: 1px solid #ccc!important
 }

 .w3-border-bottom {
     border-bottom: 1px solid #ccc!important
 }

 .w3-border-left {
     border-left: 1px solid #ccc!important
 }

 .w3-border-right {
     border-right: 1px solid #ccc!important
 }

 .w3-topbar {
     border-top: 6px solid #ccc!important
 }

 .w3-bottombar {
     border-bottom: 6px solid #ccc!important
 }

 .w3-leftbar {
     border-left: 6px solid #ccc!important
 }

 .w3-rightbar {
     border-right: 6px solid #ccc!important
 }

 .w3-section, .w3-code {
     margin-top: 16px!important;
     margin-bottom: 16px!important
 }

 .w3-margin {
     margin: 16px!important
 }

 .w3-margin-top {
     margin-top: 16px!important
 }

 .w3-margin-bottom {
     margin-bottom: 16px!important
 }

 .w3-margin-left {
     margin-left: 16px!important
 }

 .w3-margin-right {
     margin-right: 16px!important
 }

 .w3-padding-small {
     padding: 4px 8px!important
 }

 .w3-padding {
     padding: 8px 16px!important
 }

 .w3-padding-large {
     padding: 12px 24px!important
 }

 .w3-padding-16 {
     padding-top: 16px!important;
     padding-bottom: 16px!important
 }

 .w3-padding-24 {
     padding-top: 24px!important;
     padding-bottom: 24px!important
 }

 .w3-padding-32 {
     padding-top: 32px!important;
     padding-bottom: 32px!important
 }

 .w3-padding-48 {
     padding-top: 48px!important;
     padding-bottom: 48px!important
 }

 .w3-padding-64 {
     padding-top: 64px!important;
     padding-bottom: 64px!important
 }

 .w3-left {
     float: left!important
 }

 .w3-right {
     float: right!important
 }

 .w3-button:hover {
     color: #000!important;
     background-color: #ccc!important
 }

 .w3-transparent, .w3-hover-none:hover {
     background-color: transparent!important
 }

 .w3-hover-none:hover {
     box-shadow: none!important
 }

 /* Colors */

 .w3-amber, .w3-hover-amber:hover {
     color: #000!important;
     background-color: #ffc107!important
 }

 .w3-aqua, .w3-hover-aqua:hover {
     color: #000!important;
     background-color: #00ffff!important
 }

 .w3-blue, .w3-hover-blue:hover {
     color: #fff!important;
     background-color: #2196F3!important
 }

 .w3-light-blue, .w3-hover-light-blue:hover {
     color: #000!important;
     background-color: #87CEEB!important
 }

 .w3-brown, .w3-hover-brown:hover {
     color: #fff!important;
     background-color: #795548!important
 }

 .w3-cyan, .w3-hover-cyan:hover {
     color: #000!important;
     background-color: #00bcd4!important
 }

 .w3-blue-grey, .w3-hover-blue-grey:hover, .w3-blue-gray, .w3-hover-blue-gray:hover {
     color: #fff!important;
     background-color: #607d8b!important
 }

 .w3-green, .w3-hover-green:hover {
     color: #fff!important;
     background-color: #4CAF50!important
 }

 .w3-light-green, .w3-hover-light-green:hover {
     color: #000!important;
     background-color: #8bc34a!important
 }

 .w3-indigo, .w3-hover-indigo:hover {
     color: #fff!important;
     background-color: #3f51b5!important
 }

 .w3-khaki, .w3-hover-khaki:hover {
     color: #000!important;
     background-color: #f0e68c!important
 }

 .w3-lime, .w3-hover-lime:hover {
     color: #000!important;
     background-color: #cddc39!important
 }

 .w3-orange, .w3-hover-orange:hover {
     color: #000!important;
     background-color: #ff9800!important
 }

 .w3-deep-orange, .w3-hover-deep-orange:hover {
     color: #fff!important;
     background-color: #ff5722!important
 }

 .w3-pink, .w3-hover-pink:hover {
     color: #fff!important;
     background-color: #e91e63!important
 }

 .w3-purple, .w3-hover-purple:hover {
     color: #fff!important;
     background-color: #9c27b0!important
 }

 .w3-deep-purple, .w3-hover-deep-purple:hover {
     color: #fff!important;
     background-color: #673ab7!important
 }

 .w3-red, .w3-hover-red:hover {
     color: #fff!important;
     background-color: #f44336!important
 }

 .w3-sand, .w3-hover-sand:hover {
     color: #000!important;
     background-color: #fdf5e6!important
 }

 .w3-teal, .w3-hover-teal:hover {
     color: #fff!important;
     background-color: #009688!important
 }

 .w3-yellow, .w3-hover-yellow:hover {
     color: #000!important;
     background-color: #ffeb3b!important
 }

 .w3-white, .w3-hover-white:hover {
     color: #000!important;
     background-color: #fff!important
 }

 .w3-black, .w3-hover-black:hover {
     color: #fff!important;
     background-color: #000!important
 }

 .w3-grey, .w3-hover-grey:hover, .w3-gray, .w3-hover-gray:hover {
     color: #000!important;
     background-color: #9e9e9e!important
 }

 .w3-light-grey, .w3-hover-light-grey:hover, .w3-light-gray, .w3-hover-light-gray:hover {
     color: #000!important;
     background-color: #f1f1f1!important
 }

 .w3-dark-grey, .w3-hover-dark-grey:hover, .w3-dark-gray, .w3-hover-dark-gray:hover {
     color: #fff!important;
     background-color: #616161!important
 }

 .w3-pale-red, .w3-hover-pale-red:hover {
     color: #000!important;
     background-color: #ffdddd!important
 }

 .w3-pale-green, .w3-hover-pale-green:hover {
     color: #000!important;
     background-color: #ddffdd!important
 }

 .w3-pale-yellow, .w3-hover-pale-yellow:hover {
     color: #000!important;
     background-color: #ffffcc!important
 }

 .w3-pale-blue, .w3-hover-pale-blue:hover {
     color: #000!important;
     background-color: #ddffff!important
 }

 .w3-text-amber, .w3-hover-text-amber:hover {
     color: #ffc107!important
 }

 .w3-text-aqua, .w3-hover-text-aqua:hover {
     color: #00ffff!important
 }

 .w3-text-blue, .w3-hover-text-blue:hover {
     color: #2196F3!important
 }

 .w3-text-light-blue, .w3-hover-text-light-blue:hover {
     color: #87CEEB!important
 }

 .w3-text-brown, .w3-hover-text-brown:hover {
     color: #795548!important
 }

 .w3-text-cyan, .w3-hover-text-cyan:hover {
     color: #00bcd4!important
 }

 .w3-text-blue-grey, .w3-hover-text-blue-grey:hover, .w3-text-blue-gray, .w3-hover-text-blue-gray:hover {
     color: #607d8b!important
 }

 .w3-text-green, .w3-hover-text-green:hover {
     color: #4CAF50!important
 }

 .w3-text-light-green, .w3-hover-text-light-green:hover {
     color: #8bc34a!important
 }

 .w3-text-indigo, .w3-hover-text-indigo:hover {
     color: #3f51b5!important
 }

 .w3-text-khaki, .w3-hover-text-khaki:hover {
     color: #b4aa50!important
 }

 .w3-text-lime, .w3-hover-text-lime:hover {
     color: #cddc39!important
 }

 .w3-text-orange, .w3-hover-text-orange:hover {
     color: #ff9800!important
 }

 .w3-text-deep-orange, .w3-hover-text-deep-orange:hover {
     color: #ff5722!important
 }

 .w3-text-pink, .w3-hover-text-pink:hover {
     color: #e91e63!important
 }

 .w3-text-purple, .w3-hover-text-purple:hover {
     color: #9c27b0!important
 }

 .w3-text-deep-purple, .w3-hover-text-deep-purple:hover {
     color: #673ab7!important
 }

 .w3-text-red, .w3-hover-text-red:hover {
     color: #f44336!important
 }

 .w3-text-sand, .w3-hover-text-sand:hover {
     color: #fdf5e6!important
 }

 .w3-text-teal, .w3-hover-text-teal:hover {
     color: #009688!important
 }

 .w3-text-yellow, .w3-hover-text-yellow:hover {
     color: #d2be0e!important
 }

 .w3-text-white, .w3-hover-text-white:hover {
     color: #fff!important
 }

 .w3-text-black, .w3-hover-text-black:hover {
     color: #000!important
 }

 .w3-text-grey, .w3-hover-text-grey:hover, .w3-text-gray, .w3-hover-text-gray:hover {
     color: #757575!important
 }

 .w3-text-light-grey, .w3-hover-text-light-grey:hover, .w3-text-light-gray, .w3-hover-text-light-gray:hover {
     color: #f1f1f1!important
 }

 .w3-text-dark-grey, .w3-hover-text-dark-grey:hover, .w3-text-dark-gray, .w3-hover-text-dark-gray:hover {
     color: #3a3a3a!important
 }

 .w3-border-amber, .w3-hover-border-amber:hover {
     border-color: #ffc107!important
 }

 .w3-border-aqua, .w3-hover-border-aqua:hover {
     border-color: #00ffff!important
 }

 .w3-border-blue, .w3-hover-border-blue:hover {
     border-color: #2196F3!important
 }

 .w3-border-light-blue, .w3-hover-border-light-blue:hover {
     border-color: #87CEEB!important
 }

 .w3-border-brown, .w3-hover-border-brown:hover {
     border-color: #795548!important
 }

 .w3-border-cyan, .w3-hover-border-cyan:hover {
     border-color: #00bcd4!important
 }

 .w3-border-blue-grey, .w3-hover-border-blue-grey:hover, .w3-border-blue-gray, .w3-hover-border-blue-gray:hover {
     border-color: #607d8b!important
 }

 .w3-border-green, .w3-hover-border-green:hover {
     border-color: #4CAF50!important
 }

 .w3-border-light-green, .w3-hover-border-light-green:hover {
     border-color: #8bc34a!important
 }

 .w3-border-indigo, .w3-hover-border-indigo:hover {
     border-color: #3f51b5!important
 }

 .w3-border-khaki, .w3-hover-border-khaki:hover {
     border-color: #f0e68c!important
 }

 .w3-border-lime, .w3-hover-border-lime:hover {
     border-color: #cddc39!important
 }

 .w3-border-orange, .w3-hover-border-orange:hover {
     border-color: #ff9800!important
 }

 .w3-border-deep-orange, .w3-hover-border-deep-orange:hover {
     border-color: #ff5722!important
 }

 .w3-border-pink, .w3-hover-border-pink:hover {
     border-color: #e91e63!important
 }

 .w3-border-purple, .w3-hover-border-purple:hover {
     border-color: #9c27b0!important
 }

 .w3-border-deep-purple, .w3-hover-border-deep-purple:hover {
     border-color: #673ab7!important
 }

 .w3-border-red, .w3-hover-border-red:hover {
     border-color: #f44336!important
 }

 .w3-border-sand, .w3-hover-border-sand:hover {
     border-color: #fdf5e6!important
 }

 .w3-border-teal, .w3-hover-border-teal:hover {
     border-color: #009688!important
 }

 .w3-border-yellow, .w3-hover-border-yellow:hover {
     border-color: #ffeb3b!important
 }

 .w3-border-white, .w3-hover-border-white:hover {
     border-color: #fff!important
 }

 .w3-border-black, .w3-hover-border-black:hover {
     border-color: #000!important
 }

 .w3-border-grey, .w3-hover-border-grey:hover, .w3-border-gray, .w3-hover-border-gray:hover {
     border-color: #9e9e9e!important
 }

 .w3-border-light-grey, .w3-hover-border-light-grey:hover, .w3-border-light-gray, .w3-hover-border-light-gray:hover {
     border-color: #f1f1f1!important
 }

 .w3-border-dark-grey, .w3-hover-border-dark-grey:hover, .w3-border-dark-gray, .w3-hover-border-dark-gray:hover {
     border-color: #616161!important
 }

 .w3-border-pale-red, .w3-hover-border-pale-red:hover {
     border-color: #ffe7e7!important
 }

 .w3-border-pale-green, .w3-hover-border-pale-green:hover {
     border-color: #e7ffe7!important
 }

 .w3-border-pale-yellow, .w3-hover-border-pale-yellow:hover {
     border-color: #ffffcc!important
 }

 .w3-border-pale-blue, .w3-hover-border-pale-blue:hover {
     border-color: #e7ffff!important
 }
/*! odd.css v1.0.3 | (c) 2020 Brama Udi | MIT License | https://gitlab.com/bramaudi/odd.css */
/*  Experimental */
/* line 1, src/sass/experimental/_off-canvas.sass */
.off-canvas {
  bottom: 0;
  width: 100%;
  top: 0;
  z-index: 1;
}

/* line 9, src/sass/experimental/_off-canvas.sass */
.off-canvas.active .off-canvas-backdrop {
  visibility: visible;
  opacity: 1;
}

/* line 12, src/sass/experimental/_off-canvas.sass */
.off-canvas.active .off-canvas-toggle {
  right: 210px;
  -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
      transform: rotate(180deg);
  background: teal;
  border: 0.3rem solid #498484;
}

/* line 17, src/sass/experimental/_off-canvas.sass */
.off-canvas.active .off-canvas-sidebar {
  visibility: visible;
  opacity: 1;
}

/* line 21, src/sass/experimental/_off-canvas.sass */
.off-canvas-backdrop {
  height: 100%;
  width: 100%;
  right: 0;
  top: 0;
  position: fixed;
  z-index: 2;
  background: rgba(32, 32, 32, 0.4);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .5s ease, visibility 0s;
  transition: opacity .5s ease, visibility 0s;
}

/* line 33, src/sass/experimental/_off-canvas.sass */
.off-canvas-toggle {
  border-radius: .5rem .2rem;
  border: none;
  -webkit-box-shadow: 0 0.05rem 0.2rem rgba(32, 32, 32, 0.3);
          box-shadow: 0 0.05rem 0.2rem rgba(32, 32, 32, 0.3);
  -webkit-box-shadow: none;
          box-shadow: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  width: 2.5rem;
  height: 2.5rem;
  background: #498484;
  border: 0.3rem solid teal;
  z-index: 4;
}

/* line 47, src/sass/experimental/_off-canvas.sass */
.off-canvas-toggle:hover {
  background: #498484;
}

/* line 50, src/sass/experimental/_off-canvas.sass */
.off-canvas-sidebar {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 100%;
  width: 200px;
  right: 0;
  top: 0;
  overflow-y: auto;
  position: fixed;
  background: white;
  z-index: 3;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

/* line 12, src/sass/_mixin.sass */
.off-canvas-sidebar::-webkit-scrollbar {
  width: .5rem;
}

/* line 14, src/sass/_mixin.sass */
.off-canvas-sidebar::-webkit-scrollbar-track {
  background: rgba(204, 204, 204, 0.2);
}

/* line 16, src/sass/_mixin.sass */
.off-canvas-sidebar::-webkit-scrollbar-thumb {
  background: rgba(73, 132, 132, 0.5);
}

/* line 70, src/sass/experimental/_off-canvas.sass */
.off-canvas-sidebar.reverse {
  direction: rtl;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

/* line 75, src/sass/experimental/_off-canvas.sass */
.off-canvas-sidebar.reverse * {
  direction: ltr;
}

@media screen and (min-width: 992px) {
  /* line 79, src/sass/experimental/_off-canvas.sass */
  .off-canvas {
    width: calc(100% - 200px);
  }
  /* line 82, src/sass/experimental/_off-canvas.sass */
  .off-canvas-sidebar {
    display: block !important;
    visibility: visible !important;
    opacity: 1 !important;
    border-left: 0.1rem solid rgba(0, 128, 128, 0.3);
  }
  /* line 88, src/sass/experimental/_off-canvas.sass */
  .off-canvas-toggle, .off-canvas-backdrop {
    display: none !important;
  }
}

/* line 1, src/sass/experimental/_card-slide.sass */
.card-slide {
  overflow-x: auto;
  white-space: nowrap;
}

/* line 12, src/sass/_mixin.sass */
.card-slide::-webkit-scrollbar {
  width: .5rem;
}

/* line 14, src/sass/_mixin.sass */
.card-slide::-webkit-scrollbar-track {
  background: rgba(204, 204, 204, 0.2);
}

/* line 16, src/sass/_mixin.sass */
.card-slide::-webkit-scrollbar-thumb {
  background: rgba(73, 132, 132, 0.5);
}

/* line 6, src/sass/experimental/_card-slide.sass */
.card-slide.reverse {
  direction: rtl;
}

/* line 9, src/sass/experimental/_card-slide.sass */
.card-slide.reverse * {
  direction: ltr;
}

/* line 12, src/sass/experimental/_card-slide.sass */
.card-slide.no-scrollbar {
  -ms-overflow-style: none;
}

/* line 15, src/sass/experimental/_card-slide.sass */
.card-slide.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* line 18, src/sass/experimental/_card-slide.sass */
.card-slide .card {
  white-space: normal;
  display: inline-block;
  max-width: 60%;
  min-height: 50px;
}
/*! odd.css v1.0.3 | (c) 2020 Brama Udi | MIT License | https://gitlab.com/bramaudi/odd.css */
/* line 3, src/sass/_base.sass */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

/* line 12, src/sass/_mixin.sass */
*::-webkit-scrollbar {
  width: .5rem;
}

/* line 14, src/sass/_mixin.sass */
*::-webkit-scrollbar-track {
  background: rgba(204, 204, 204, 0.2);
}

/* line 16, src/sass/_mixin.sass */
*::-webkit-scrollbar-thumb {
  background: rgba(73, 132, 132, 0.5);
}

/* line 8, src/sass/_base.sass */
a {
  color: teal;
  outline: none;
}

/* line 12, src/sass/_base.sass */
html {
  font-size: 20px;
  line-height: 1.5;
  -webkit-tap-highlight-color: transparent;
}

/* line 17, src/sass/_base.sass */
body {
  background: #e5eaea;
  color: #383939;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;
  font-size: medium;
}

/* line 23, src/sass/_base.sass */
ul, ol {
  list-style-position: inside;
  padding: 0;
  margin: 0;
}

/* line 27, src/sass/_base.sass */
ul li, ol li {
  margin: .5rem 0;
}

/* line 29, src/sass/_base.sass */
ul {
  list-style-type: circle;
}

/* line 32, src/sass/_base.sass */
code {
  white-space: nowrap;
  padding: .1rem .2rem;
  background: #bbc8c8;
}

@media screen and (min-width: 600px) {
  /* line 32, src/sass/_base.sass */
  code {
    padding: .2rem .3rem .1rem;
  }
}

/* line 40, src/sass/_base.sass */
pre > code {
  padding: 0;
  background: none;
}

/* line 44, src/sass/_base.sass */
pre, code {
  font-family: Courier New, Courier, monospace;
}

/* line 47, src/sass/_base.sass */
blockquote {
  border-left: 0.2rem solid #498484;
  padding: .2rem .5rem;
  margin-left: 0;
}

/* line 52, src/sass/_base.sass */
blockquote.primary {
  border-color: teal;
}

/* line 54, src/sass/_base.sass */
blockquote.secondary {
  border-color: #498484;
}

/* line 57, src/sass/_base.sass */
blockquote.light {
  border-color: white;
}

/* line 59, src/sass/_base.sass */
blockquote.dark {
  border-color: rgba(32, 32, 32, 0.9);
}

/* line 61, src/sass/_base.sass */
blockquote.black {
  border-color: black;
}

/* line 63, src/sass/_base.sass */
blockquote.gray {
  border-color: #cccccc;
}

/* line 65, src/sass/_base.sass */
blockquote.grey {
  border-color: #cccccc;
}

/* line 68, src/sass/_base.sass */
blockquote.success {
  border-color: rgba(32, 96, 32, 0.7);
}

/* line 70, src/sass/_base.sass */
blockquote.warning {
  border-color: rgba(191, 146, 64, 0.7);
}

/* line 72, src/sass/_base.sass */
blockquote.error {
  border-color: rgba(191, 64, 64, 0.7);
}

/* Manually forked from Normalize.css */
/* normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
/* line 14, src/sass/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
/* line 27, src/sass/_normalize.scss */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
/* line 35, src/sass/_normalize.scss */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* line 49, src/sass/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
/* line 62, src/sass/_normalize.scss */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8 (removed).
 */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
/* line 77, src/sass/_normalize.scss */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers. (removed)
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
/* line 96, src/sass/_normalize.scss */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
/* line 106, src/sass/_normalize.scss */
a:active,
a:hover {
  outline-width: 0;
}

/**
 * Modify default styling of address.
 */
/* line 115, src/sass/_normalize.scss */
address {
  font-style: normal;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari. (removed)
 */
/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
/* line 128, src/sass/_normalize.scss */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
/* line 137, src/sass/_normalize.scss */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 147, src/sass/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: 'Courier New', Courier, monospace;
  /* 1 (changed) */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
/* line 159, src/sass/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-. (Removed)
 */
/**
 * Add the correct font size in all browsers.
 */
/* line 171, src/sass/_normalize.scss */
small {
  font-size: 80%;
  font-weight: 400;
  /* (added) */
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
/* line 181, src/sass/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 189, src/sass/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 193, src/sass/_normalize.scss */
sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
/* line 204, src/sass/_normalize.scss */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
/* line 213, src/sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
/* line 222, src/sass/_normalize.scss */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
/* line 230, src/sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
/* line 242, src/sass/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 (changed) */
  font-size: inherit;
  /* 1 (changed) */
  line-height: inherit;
  /* 1 (changed) */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
/* line 258, src/sass/_normalize.scss */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
/* line 268, src/sass/_normalize.scss */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
/* line 279, src/sass/_normalize.scss */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
/* line 290, src/sass/_normalize.scss */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule (removed).
 */
/**
 * Change the border, margin, and padding in all browsers (opinionated) (changed).
 */
/* line 307, src/sass/_normalize.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
/* line 320, src/sass/_normalize.scss */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
/* line 334, src/sass/_normalize.scss */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
/* line 343, src/sass/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
/* line 352, src/sass/_normalize.scss */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
/* line 362, src/sass/_normalize.scss */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
/* line 372, src/sass/_normalize.scss */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
/* line 381, src/sass/_normalize.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
/* line 391, src/sass/_normalize.scss */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
/* line 404, src/sass/_normalize.scss */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
/* line 413, src/sass/_normalize.scss */
summary {
  display: list-item;
  outline: none;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
/* line 425, src/sass/_normalize.scss */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
/* line 433, src/sass/_normalize.scss */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
/* line 444, src/sass/_normalize.scss */
[hidden] {
  display: none;
}

/* line 5, src/sass/_typography.sass */
h1 {
  font-weight: 500;
  margin: 1rem 0;
  padding: 0;
}

/* line 5, src/sass/_typography.sass */
h2 {
  font-weight: 500;
  margin: 1rem 0;
  padding: 0;
}

/* line 5, src/sass/_typography.sass */
h3 {
  font-weight: 500;
  margin: 1rem 0;
  padding: 0;
}

/* line 5, src/sass/_typography.sass */
h4 {
  font-weight: 500;
  margin: 1rem 0;
  padding: 0;
}

/* line 5, src/sass/_typography.sass */
h5 {
  font-weight: 500;
  margin: 1rem 0;
  padding: 0;
}

/* line 5, src/sass/_typography.sass */
h6 {
  font-weight: 500;
  margin: 1rem 0;
  padding: 0;
}

/* line 33, src/sass/_button.sass */
button {
  padding: .3rem 1rem;
  margin: 0.2rem 0;
  cursor: pointer;
  background: white;
  color: teal;
  outline: 0;
  background-position: center;
  -webkit-transition: background 0.8s;
  transition: background 0.8s;
  border-radius: .5rem .2rem;
  border: none;
  -webkit-box-shadow: 0 0.05rem 0.2rem rgba(32, 32, 32, 0.3);
          box-shadow: 0 0.05rem 0.2rem rgba(32, 32, 32, 0.3);
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

/* line 14, src/sass/_button.sass */
button:focus {
  -webkit-box-shadow: 0 0.05rem 0.2rem rgba(32, 32, 32, 0.3);
          box-shadow: 0 0.05rem 0.2rem rgba(32, 32, 32, 0.3);
  padding: .2rem .9rem;
  border: 0.1rem solid #498484;
}

/* line 19, src/sass/_button.sass */
button:hover, button:focus, button:active {
  background-color: #d9d9d9;
}

/* line 47, src/sass/_button.sass */
button.link {
  background: transparent;
  color: teal;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

/* line 14, src/sass/_button.sass */
button.link:focus {
  -webkit-box-shadow: 0 0.05rem 0.2rem rgba(32, 32, 32, 0.3);
          box-shadow: 0 0.05rem 0.2rem rgba(32, 32, 32, 0.3);
  padding: .2rem .9rem;
  border: 0.1rem solid #498484;
}

/* line 19, src/sass/_button.sass */
button.link:hover, button.link:focus, button.link:active {
  background-color: rgba(0, 0, 0, 0);
}

/* line 53, src/sass/_button.sass */
button.primary {
  background: teal;
  color: white;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

/* line 14, src/sass/_button.sass */
button.primary:focus {
  -webkit-box-shadow: 0 0.05rem 0.2rem rgba(32, 32, 32, 0.3);
          box-shadow: 0 0.05rem 0.2rem rgba(32, 32, 32, 0.3);
  padding: .2rem .9rem;
  border: 0.1rem solid #498484;
}

/* line 19, src/sass/_button.sass */
button.primary:hover, button.primary:focus, button.primary:active {
  background-color: #003434;
}

/* line 58, src/sass/_button.sass */
button.secondary {
  background: #498484;
  color: white;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

/* line 14, src/sass/_button.sass */
button.secondary:focus {
  -webkit-box-shadow: 0 0.05rem 0.2rem rgba(32, 32, 32, 0.3);
          box-shadow: 0 0.05rem 0.2rem rgba(32, 32, 32, 0.3);
  padding: .2rem .9rem;
  border: 0.1rem solid #498484;
}

/* line 19, src/sass/_button.sass */
button.secondary:hover, button.secondary:focus, button.secondary:active {
  background-color: #2e5353;
}

/* line 63, src/sass/_button.sass */
button.dark {
  background: rgba(32, 32, 32, 0.9);
  color: white;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

/* line 14, src/sass/_button.sass */
button.dark:focus {
  -webkit-box-shadow: 0 0.05rem 0.2rem rgba(32, 32, 32, 0.3);
          box-shadow: 0 0.05rem 0.2rem rgba(32, 32, 32, 0.3);
  padding: .2rem .9rem;
  border: 0.1rem solid #498484;
}

/* line 19, src/sass/_button.sass */
button.dark:hover, button.dark:focus, button.dark:active {
  background-color: rgba(0, 0, 0, 0.9);
}

/* line 68, src/sass/_button.sass */
button.success {
  background: rgba(32, 96, 32, 0.7);
  color: white;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

/* line 14, src/sass/_button.sass */
button.success:focus {
  -webkit-box-shadow: 0 0.05rem 0.2rem rgba(32, 32, 32, 0.3);
          box-shadow: 0 0.05rem 0.2rem rgba(32, 32, 32, 0.3);
  padding: .2rem .9rem;
  border: 0.1rem solid #498484;
}

/* line 19, src/sass/_button.sass */
button.success:hover, button.success:focus, button.success:active {
  background-color: rgba(13, 39, 13, 0.7);
}

/* line 73, src/sass/_button.sass */
button.warning {
  background: rgba(191, 146, 64, 0.7);
  color: white;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

/* line 14, src/sass/_button.sass */
button.warning:focus {
  -webkit-box-shadow: 0 0.05rem 0.2rem rgba(32, 32, 32, 0.3);
          box-shadow: 0 0.05rem 0.2rem rgba(32, 32, 32, 0.3);
  padding: .2rem .9rem;
  border: 0.1rem solid #498484;
}

/* line 19, src/sass/_button.sass */
button.warning:hover, button.warning:focus, button.warning:active {
  background-color: rgba(134, 102, 45, 0.7);
}

/* line 78, src/sass/_button.sass */
button.error {
  background: rgba(191, 64, 64, 0.7);
  color: white;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

/* line 14, src/sass/_button.sass */
button.error:focus {
  -webkit-box-shadow: 0 0.05rem 0.2rem rgba(32, 32, 32, 0.3);
          box-shadow: 0 0.05rem 0.2rem rgba(32, 32, 32, 0.3);
  padding: .2rem .9rem;
  border: 0.1rem solid #498484;
}

/* line 19, src/sass/_button.sass */
button.error:hover, button.error:focus, button.error:active {
  background-color: rgba(134, 45, 45, 0.7);
}

/* line 1, src/sass/_form.sass */
form {
  width: 100%;
}

/* line 4, src/sass/_form.sass */
input, textarea, select {
  padding: .5rem 1rem;
  margin: .5rem 0;
  outline: none;
  border-radius: .5rem .2rem;
  border: none;
  -webkit-box-shadow: 0 0.05rem 0.2rem rgba(32, 32, 32, 0.3);
          box-shadow: 0 0.05rem 0.2rem rgba(32, 32, 32, 0.3);
}

/* line 10, src/sass/_form.sass */
input:focus, textarea:focus, select:focus {
  -webkit-box-shadow: 0 0 2px teal;
          box-shadow: 0 0 2px teal;
}

/* line 13, src/sass/_form.sass */
input.full, textarea.full, select.full {
  min-width: 100%;
  width: 100%;
}

/* line 18, src/sass/_form.sass */
textarea {
  color: rgba(32, 32, 32, 0.9);
  min-height: 5rem;
  resize: vertical;
}

/* line 23, src/sass/_form.sass */
select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  background: white;
}

/* line 36, src/sass/_form.sass */
input[type=checkbox], input[type=radio] {
  display: none;
}

/* line 40, src/sass/_form.sass */
input[type=checkbox] + label, input[type=radio] + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
  cursor: pointer;
}

/* line 45, src/sass/_form.sass */
input[type=checkbox] + label::before, input[type=radio] + label::before {
  width: .5rem;
  height: .5rem;
  border-radius: .5rem .2rem;
  cursor: pointer;
  content: " ";
  margin-right: .5rem;
  background: white;
  border: 0.3rem solid rgba(0, 128, 128, 0.5);
}

/* line 56, src/sass/_form.sass */
input[type=checkbox]:checked + label::before, input[type=radio]:checked + label::before {
  width: .5rem;
  height: .5rem;
  background: rgba(0, 128, 128, 0.5);
  border: 0.3rem solid teal;
}

/* line 61, src/sass/_form.sass */
input[type=radio] + label::before {
  border-radius: 100%;
}

/* line 1, src/sass/_helper.sass */
.divider {
  display: block;
  padding: .6rem 0;
  background: inherit;
}

/* line 7, src/sass/_helper.sass */
.divider::before {
  display: inline-block;
  float: right;
  width: 100%;
  content: ' ';
  border-bottom: 1px solid #cccccc;
}

/* line 15, src/sass/_helper.sass */
.divider::after {
  display: inline-block;
  float: left;
  content: attr(data-content);
  padding: 0;
  padding-right: 1rem;
  background: inherit;
  margin-top: -.7rem;
  color: #999999;
}

/* line 25, src/sass/_helper.sass */
.divider.center {
  line-height: 0;
  text-align: center;
}

/* line 29, src/sass/_helper.sass */
.divider.center::after {
  float: none;
  display: inline;
  margin: 0;
  padding: 0 1rem;
}

/* line 37, src/sass/_helper.sass */
.divider.right::after {
  float: right;
  padding: 0;
  padding-left: 1rem;
}

/* line 1, src/sass/_card.sass */
.card {
  border-radius: .5rem .2rem;
  border: none;
  -webkit-box-shadow: 0 0.05rem 0.2rem rgba(32, 32, 32, 0.3);
          box-shadow: 0 0.05rem 0.2rem rgba(32, 32, 32, 0.3);
  padding: .5rem;
  background: white;
  box-shadow: 0 0.05rem 0.2rem rgba(32, 32, 32, 0.3);
}

/* line 7, src/sass/_card.sass */
.card .header {
  margin: 0 -.5rem .5rem;
  padding: .5rem;
  padding-top: 0;
  border-bottom: 1px solid rgba(32, 32, 32, 0.1);
}

/* line 13, src/sass/_card.sass */
.card .footer {
  padding: .5rem;
  padding-bottom: 0;
  margin: .5rem -.5rem 0;
  border-top: 1px solid rgba(32, 32, 32, 0.1);
}

/* line 1, src/sass/_menu.sass */
.menu {
  list-style: none;
}

/* line 4, src/sass/_menu.sass */
.menu li {
  margin: 0;
  padding: 0;
}

/* line 8, src/sass/_menu.sass */
.menu li a {
  border-radius: .5rem .2rem;
  display: block;
  padding: .2rem .5rem;
}

/* line 13, src/sass/_menu.sass */
.menu li a:hover {
  background: rgba(0, 128, 128, 0.2);
}

/* line 1, src/sass/_shape.sass */
.leaf {
  border-radius: .5rem .2rem;
  border: none;
  -webkit-box-shadow: 0 0.05rem 0.2rem rgba(32, 32, 32, 0.3);
          box-shadow: 0 0.05rem 0.2rem rgba(32, 32, 32, 0.3);
}

/* line 4, src/sass/_shape.sass */
.circle {
  border-radius: 100%;
}

/* line 7, src/sass/_shape.sass */
.rounded {
  border-radius: .5rem;
}

/* line 4, src/sass/_utility.sass */
.bg-primary {
  background: teal;
  color: white;
}

/* line 7, src/sass/_utility.sass */
.bg-secondary {
  background: #498484;
  color: white;
}

/* line 11, src/sass/_utility.sass */
.bg-success {
  background: rgba(32, 96, 32, 0.7);
  color: white;
}

/* line 14, src/sass/_utility.sass */
.bg-warning {
  background: rgba(191, 146, 64, 0.7);
  color: white;
}

/* line 17, src/sass/_utility.sass */
.bg-error {
  background: rgba(191, 64, 64, 0.7);
  color: white;
}

/* line 21, src/sass/_utility.sass */
.bg-light {
  background: white;
}

/* line 23, src/sass/_utility.sass */
.bg-dark {
  background: rgba(32, 32, 32, 0.9);
  color: white;
}

/* line 26, src/sass/_utility.sass */
.bg-black {
  background: black;
  color: white;
}

/* line 30, src/sass/_utility.sass */
.bg-grey {
  background: #cccccc;
}

/* line 32, src/sass/_utility.sass */
.bg-gray {
  background: #cccccc;
}

/* line 35, src/sass/_utility.sass */
.bg-background {
  background: #e5eaea;
}

/* line 37, src/sass/_utility.sass */
.bg-font {
  background: #383939;
  color: #e5eaea;
}

/* line 44, src/sass/_utility.sass */
.text-primary {
  color: teal;
}

/* line 46, src/sass/_utility.sass */
.text-secondary {
  color: #498484;
}

/* line 49, src/sass/_utility.sass */
.text-success {
  color: rgba(32, 96, 32, 0.7);
}

/* line 51, src/sass/_utility.sass */
.text-warning {
  color: rgba(191, 146, 64, 0.7);
}

/* line 53, src/sass/_utility.sass */
.text-error {
  color: rgba(191, 64, 64, 0.7);
}

/* line 56, src/sass/_utility.sass */
.text-light {
  color: white;
}

/* line 58, src/sass/_utility.sass */
.text-dark {
  color: rgba(32, 32, 32, 0.9);
}

/* line 60, src/sass/_utility.sass */
.text-black {
  color: black;
}

/* line 63, src/sass/_utility.sass */
.text-grey {
  color: #cccccc;
}

/* line 65, src/sass/_utility.sass */
.text-gray {
  color: #cccccc;
}

/* line 68, src/sass/_utility.sass */
.text-background {
  color: #e5eaea;
}

/* line 70, src/sass/_utility.sass */
.text-font {
  color: #383939;
}

/* line 83, src/sass/_utility.sass */
.m-0 {
  margin: 0rem;
}

/* line 86, src/sass/_utility.sass */
.mt-0 {
  margin-top: 0rem;
}

/* line 88, src/sass/_utility.sass */
.mr-0 {
  margin-right: 0rem;
}

/* line 90, src/sass/_utility.sass */
.mb-0 {
  margin-bottom: 0rem;
}

/* line 92, src/sass/_utility.sass */
.ml-0 {
  margin-left: 0rem;
}

/* line 95, src/sass/_utility.sass */
.my-0 {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

/* line 99, src/sass/_utility.sass */
.mx-0 {
  margin-left: 0rem;
  margin-right: 0rem;
}

/* line 83, src/sass/_utility.sass */
.m-1 {
  margin: .5rem;
}

/* line 86, src/sass/_utility.sass */
.mt-1 {
  margin-top: .5rem;
}

/* line 88, src/sass/_utility.sass */
.mr-1 {
  margin-right: .5rem;
}

/* line 90, src/sass/_utility.sass */
.mb-1 {
  margin-bottom: .5rem;
}

/* line 92, src/sass/_utility.sass */
.ml-1 {
  margin-left: .5rem;
}

/* line 95, src/sass/_utility.sass */
.my-1 {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

/* line 99, src/sass/_utility.sass */
.mx-1 {
  margin-left: .5rem;
  margin-right: .5rem;
}

/* line 83, src/sass/_utility.sass */
.m-2 {
  margin: 1rem;
}

/* line 86, src/sass/_utility.sass */
.mt-2 {
  margin-top: 1rem;
}

/* line 88, src/sass/_utility.sass */
.mr-2 {
  margin-right: 1rem;
}

/* line 90, src/sass/_utility.sass */
.mb-2 {
  margin-bottom: 1rem;
}

/* line 92, src/sass/_utility.sass */
.ml-2 {
  margin-left: 1rem;
}

/* line 95, src/sass/_utility.sass */
.my-2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* line 99, src/sass/_utility.sass */
.mx-2 {
  margin-left: 1rem;
  margin-right: 1rem;
}

/* line 83, src/sass/_utility.sass */
.m-3 {
  margin: 1.5rem;
}

/* line 86, src/sass/_utility.sass */
.mt-3 {
  margin-top: 1.5rem;
}

/* line 88, src/sass/_utility.sass */
.mr-3 {
  margin-right: 1.5rem;
}

/* line 90, src/sass/_utility.sass */
.mb-3 {
  margin-bottom: 1.5rem;
}

/* line 92, src/sass/_utility.sass */
.ml-3 {
  margin-left: 1.5rem;
}

/* line 95, src/sass/_utility.sass */
.my-3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* line 99, src/sass/_utility.sass */
.mx-3 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/* line 83, src/sass/_utility.sass */
.m-4 {
  margin: 2rem;
}

/* line 86, src/sass/_utility.sass */
.mt-4 {
  margin-top: 2rem;
}

/* line 88, src/sass/_utility.sass */
.mr-4 {
  margin-right: 2rem;
}

/* line 90, src/sass/_utility.sass */
.mb-4 {
  margin-bottom: 2rem;
}

/* line 92, src/sass/_utility.sass */
.ml-4 {
  margin-left: 2rem;
}

/* line 95, src/sass/_utility.sass */
.my-4 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* line 99, src/sass/_utility.sass */
.mx-4 {
  margin-left: 2rem;
  margin-right: 2rem;
}

/* line 83, src/sass/_utility.sass */
.m-5 {
  margin: 2.5rem;
}

/* line 86, src/sass/_utility.sass */
.mt-5 {
  margin-top: 2.5rem;
}

/* line 88, src/sass/_utility.sass */
.mr-5 {
  margin-right: 2.5rem;
}

/* line 90, src/sass/_utility.sass */
.mb-5 {
  margin-bottom: 2.5rem;
}

/* line 92, src/sass/_utility.sass */
.ml-5 {
  margin-left: 2.5rem;
}

/* line 95, src/sass/_utility.sass */
.my-5 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

/* line 99, src/sass/_utility.sass */
.mx-5 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

/* line 83, src/sass/_utility.sass */
.m-6 {
  margin: 3rem;
}

/* line 86, src/sass/_utility.sass */
.mt-6 {
  margin-top: 3rem;
}

/* line 88, src/sass/_utility.sass */
.mr-6 {
  margin-right: 3rem;
}

/* line 90, src/sass/_utility.sass */
.mb-6 {
  margin-bottom: 3rem;
}

/* line 92, src/sass/_utility.sass */
.ml-6 {
  margin-left: 3rem;
}

/* line 95, src/sass/_utility.sass */
.my-6 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

/* line 99, src/sass/_utility.sass */
.mx-6 {
  margin-left: 3rem;
  margin-right: 3rem;
}

/* line 83, src/sass/_utility.sass */
.m-7 {
  margin: 3.5rem;
}

/* line 86, src/sass/_utility.sass */
.mt-7 {
  margin-top: 3.5rem;
}

/* line 88, src/sass/_utility.sass */
.mr-7 {
  margin-right: 3.5rem;
}

/* line 90, src/sass/_utility.sass */
.mb-7 {
  margin-bottom: 3.5rem;
}

/* line 92, src/sass/_utility.sass */
.ml-7 {
  margin-left: 3.5rem;
}

/* line 95, src/sass/_utility.sass */
.my-7 {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}

/* line 99, src/sass/_utility.sass */
.mx-7 {
  margin-left: 3.5rem;
  margin-right: 3.5rem;
}

/* line 83, src/sass/_utility.sass */
.m-8 {
  margin: 4rem;
}

/* line 86, src/sass/_utility.sass */
.mt-8 {
  margin-top: 4rem;
}

/* line 88, src/sass/_utility.sass */
.mr-8 {
  margin-right: 4rem;
}

/* line 90, src/sass/_utility.sass */
.mb-8 {
  margin-bottom: 4rem;
}

/* line 92, src/sass/_utility.sass */
.ml-8 {
  margin-left: 4rem;
}

/* line 95, src/sass/_utility.sass */
.my-8 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

/* line 99, src/sass/_utility.sass */
.mx-8 {
  margin-left: 4rem;
  margin-right: 4rem;
}

/* line 83, src/sass/_utility.sass */
.m-9 {
  margin: 4.5rem;
}

/* line 86, src/sass/_utility.sass */
.mt-9 {
  margin-top: 4.5rem;
}

/* line 88, src/sass/_utility.sass */
.mr-9 {
  margin-right: 4.5rem;
}

/* line 90, src/sass/_utility.sass */
.mb-9 {
  margin-bottom: 4.5rem;
}

/* line 92, src/sass/_utility.sass */
.ml-9 {
  margin-left: 4.5rem;
}

/* line 95, src/sass/_utility.sass */
.my-9 {
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;
}

/* line 99, src/sass/_utility.sass */
.mx-9 {
  margin-left: 4.5rem;
  margin-right: 4.5rem;
}

/* line 83, src/sass/_utility.sass */
.m-10 {
  margin: 5rem;
}

/* line 86, src/sass/_utility.sass */
.mt-10 {
  margin-top: 5rem;
}

/* line 88, src/sass/_utility.sass */
.mr-10 {
  margin-right: 5rem;
}

/* line 90, src/sass/_utility.sass */
.mb-10 {
  margin-bottom: 5rem;
}

/* line 92, src/sass/_utility.sass */
.ml-10 {
  margin-left: 5rem;
}

/* line 95, src/sass/_utility.sass */
.my-10 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

/* line 99, src/sass/_utility.sass */
.mx-10 {
  margin-left: 5rem;
  margin-right: 5rem;
}

/* line 107, src/sass/_utility.sass */
.p-0 {
  padding: 0rem;
}

/* line 110, src/sass/_utility.sass */
.pt-0 {
  padding-top: 0rem;
}

/* line 112, src/sass/_utility.sass */
.pr-0 {
  padding-right: 0rem;
}

/* line 114, src/sass/_utility.sass */
.pb-0 {
  padding-bottom: 0rem;
}

/* line 116, src/sass/_utility.sass */
.pl-0 {
  padding-left: 0rem;
}

/* line 119, src/sass/_utility.sass */
.py-0 {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

/* line 123, src/sass/_utility.sass */
.px-0 {
  padding-left: 0rem;
  padding-right: 0rem;
}

/* line 107, src/sass/_utility.sass */
.p-1 {
  padding: .5rem;
}

/* line 110, src/sass/_utility.sass */
.pt-1 {
  padding-top: .5rem;
}

/* line 112, src/sass/_utility.sass */
.pr-1 {
  padding-right: .5rem;
}

/* line 114, src/sass/_utility.sass */
.pb-1 {
  padding-bottom: .5rem;
}

/* line 116, src/sass/_utility.sass */
.pl-1 {
  padding-left: .5rem;
}

/* line 119, src/sass/_utility.sass */
.py-1 {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

/* line 123, src/sass/_utility.sass */
.px-1 {
  padding-left: .5rem;
  padding-right: .5rem;
}

/* line 107, src/sass/_utility.sass */
.p-2 {
  padding: 1rem;
}

/* line 110, src/sass/_utility.sass */
.pt-2 {
  padding-top: 1rem;
}

/* line 112, src/sass/_utility.sass */
.pr-2 {
  padding-right: 1rem;
}

/* line 114, src/sass/_utility.sass */
.pb-2 {
  padding-bottom: 1rem;
}

/* line 116, src/sass/_utility.sass */
.pl-2 {
  padding-left: 1rem;
}

/* line 119, src/sass/_utility.sass */
.py-2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* line 123, src/sass/_utility.sass */
.px-2 {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* line 107, src/sass/_utility.sass */
.p-3 {
  padding: 1.5rem;
}

/* line 110, src/sass/_utility.sass */
.pt-3 {
  padding-top: 1.5rem;
}

/* line 112, src/sass/_utility.sass */
.pr-3 {
  padding-right: 1.5rem;
}

/* line 114, src/sass/_utility.sass */
.pb-3 {
  padding-bottom: 1.5rem;
}

/* line 116, src/sass/_utility.sass */
.pl-3 {
  padding-left: 1.5rem;
}

/* line 119, src/sass/_utility.sass */
.py-3 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* line 123, src/sass/_utility.sass */
.px-3 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/* line 107, src/sass/_utility.sass */
.p-4 {
  padding: 2rem;
}

/* line 110, src/sass/_utility.sass */
.pt-4 {
  padding-top: 2rem;
}

/* line 112, src/sass/_utility.sass */
.pr-4 {
  padding-right: 2rem;
}

/* line 114, src/sass/_utility.sass */
.pb-4 {
  padding-bottom: 2rem;
}

/* line 116, src/sass/_utility.sass */
.pl-4 {
  padding-left: 2rem;
}

/* line 119, src/sass/_utility.sass */
.py-4 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* line 123, src/sass/_utility.sass */
.px-4 {
  padding-left: 2rem;
  padding-right: 2rem;
}

/* line 107, src/sass/_utility.sass */
.p-5 {
  padding: 2.5rem;
}

/* line 110, src/sass/_utility.sass */
.pt-5 {
  padding-top: 2.5rem;
}

/* line 112, src/sass/_utility.sass */
.pr-5 {
  padding-right: 2.5rem;
}

/* line 114, src/sass/_utility.sass */
.pb-5 {
  padding-bottom: 2.5rem;
}

/* line 116, src/sass/_utility.sass */
.pl-5 {
  padding-left: 2.5rem;
}

/* line 119, src/sass/_utility.sass */
.py-5 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

/* line 123, src/sass/_utility.sass */
.px-5 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

/* line 107, src/sass/_utility.sass */
.p-6 {
  padding: 3rem;
}

/* line 110, src/sass/_utility.sass */
.pt-6 {
  padding-top: 3rem;
}

/* line 112, src/sass/_utility.sass */
.pr-6 {
  padding-right: 3rem;
}

/* line 114, src/sass/_utility.sass */
.pb-6 {
  padding-bottom: 3rem;
}

/* line 116, src/sass/_utility.sass */
.pl-6 {
  padding-left: 3rem;
}

/* line 119, src/sass/_utility.sass */
.py-6 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* line 123, src/sass/_utility.sass */
.px-6 {
  padding-left: 3rem;
  padding-right: 3rem;
}

/* line 107, src/sass/_utility.sass */
.p-7 {
  padding: 3.5rem;
}

/* line 110, src/sass/_utility.sass */
.pt-7 {
  padding-top: 3.5rem;
}

/* line 112, src/sass/_utility.sass */
.pr-7 {
  padding-right: 3.5rem;
}

/* line 114, src/sass/_utility.sass */
.pb-7 {
  padding-bottom: 3.5rem;
}

/* line 116, src/sass/_utility.sass */
.pl-7 {
  padding-left: 3.5rem;
}

/* line 119, src/sass/_utility.sass */
.py-7 {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

/* line 123, src/sass/_utility.sass */
.px-7 {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

/* line 107, src/sass/_utility.sass */
.p-8 {
  padding: 4rem;
}

/* line 110, src/sass/_utility.sass */
.pt-8 {
  padding-top: 4rem;
}

/* line 112, src/sass/_utility.sass */
.pr-8 {
  padding-right: 4rem;
}

/* line 114, src/sass/_utility.sass */
.pb-8 {
  padding-bottom: 4rem;
}

/* line 116, src/sass/_utility.sass */
.pl-8 {
  padding-left: 4rem;
}

/* line 119, src/sass/_utility.sass */
.py-8 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

/* line 123, src/sass/_utility.sass */
.px-8 {
  padding-left: 4rem;
  padding-right: 4rem;
}

/* line 107, src/sass/_utility.sass */
.p-9 {
  padding: 4.5rem;
}

/* line 110, src/sass/_utility.sass */
.pt-9 {
  padding-top: 4.5rem;
}

/* line 112, src/sass/_utility.sass */
.pr-9 {
  padding-right: 4.5rem;
}

/* line 114, src/sass/_utility.sass */
.pb-9 {
  padding-bottom: 4.5rem;
}

/* line 116, src/sass/_utility.sass */
.pl-9 {
  padding-left: 4.5rem;
}

/* line 119, src/sass/_utility.sass */
.py-9 {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

/* line 123, src/sass/_utility.sass */
.px-9 {
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}

/* line 107, src/sass/_utility.sass */
.p-10 {
  padding: 5rem;
}

/* line 110, src/sass/_utility.sass */
.pt-10 {
  padding-top: 5rem;
}

/* line 112, src/sass/_utility.sass */
.pr-10 {
  padding-right: 5rem;
}

/* line 114, src/sass/_utility.sass */
.pb-10 {
  padding-bottom: 5rem;
}

/* line 116, src/sass/_utility.sass */
.pl-10 {
  padding-left: 5rem;
}

/* line 119, src/sass/_utility.sass */
.py-10 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

/* line 123, src/sass/_utility.sass */
.px-10 {
  padding-left: 5rem;
  padding-right: 5rem;
}

/* line 127, src/sass/_utility.sass */
.d {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

/* line 130, src/sass/_utility.sass */
.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* line 132, src/sass/_utility.sass */
.d-block {
  display: block;
}

/* line 134, src/sass/_utility.sass */
.d-inline {
  display: inline;
}

/* line 136, src/sass/_utility.sass */
.d-inline-block {
  display: inline-block;
}

/* line 138, src/sass/_utility.sass */
.d-table {
  display: table;
}

/* line 140, src/sass/_utility.sass */
.d-inline-table {
  display: inline-table;
}

/* line 142, src/sass/_utility.sass */
.d-hide {
  display: none;
}

/* line 144, src/sass/_utility.sass */
.d-none {
  display: none;
}

/* line 146, src/sass/_utility.sass */
.d-center {
  height: 100vh;
  position: relative;
}

/* line 150, src/sass/_utility.sass */
.d-center > * {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
}

/* line 160, src/sass/_utility.sass */
.text-left {
  text-align: left;
}

/* line 162, src/sass/_utility.sass */
.text-center {
  text-align: center;
}

/* line 164, src/sass/_utility.sass */
.text-right {
  text-align: right;
}

/* line 166, src/sass/_utility.sass */
.text-justify {
  text-align: justify;
}

/* line 169, src/sass/_utility.sass */
.text-uppercase {
  text-transform: uppercase;
}

/* line 171, src/sass/_utility.sass */
.text-lowercase {
  text-transform: lowercase;
}

/* line 173, src/sass/_utility.sass */
.text-capitalize {
  text-transform: capitalize;
}

/* line 176, src/sass/_utility.sass */
.text-bold {
  font-weight: bold;
}

/* line 178, src/sass/_utility.sass */
.text-normal {
  font-weight: normal;
}

/* line 180, src/sass/_utility.sass */
.text-light {
  font-weight: lighter;
}

/* line 183, src/sass/_utility.sass */
.text-xxs {
  font-size: xx-small;
}

/* line 185, src/sass/_utility.sass */
.text-xs {
  font-size: x-small;
}

/* line 187, src/sass/_utility.sass */
.text-sm {
  font-size: small;
}

/* line 189, src/sass/_utility.sass */
.text-md {
  font-size: medium;
}

/* line 191, src/sass/_utility.sass */
.text-lg {
  font-size: large;
}

/* line 193, src/sass/_utility.sass */
.text-xl {
  font-size: x-large;
}

/* line 195, src/sass/_utility.sass */
.text-xxl {
  font-size: xx-large;
}

/* line 198, src/sass/_utility.sass */
.text-lead {
  line-height: 2rem;
}

/* line 202, src/sass/_utility.sass */
.h6 {
  font-size: x-small;
}

/* line 204, src/sass/_utility.sass */
.h5 {
  font-size: small;
}

/* line 206, src/sass/_utility.sass */
.h4 {
  font-size: medium;
}

/* line 208, src/sass/_utility.sass */
.h3 {
  font-size: large;
}

/* line 210, src/sass/_utility.sass */
.h2 {
  font-size: x-large;
}

/* line 212, src/sass/_utility.sass */
.h1 {
  font-size: xx-large;
}

/* line 219, src/sass/_utility.sass */
.float-clear {
  clear: both;
}

/* line 221, src/sass/_utility.sass */
.float-none {
  float: none;
}

/* line 223, src/sass/_utility.sass */
.float-left {
  float: left;
}

/* line 225, src/sass/_utility.sass */
.float-right {
  float: right;
}

/* line 228, src/sass/_utility.sass */
.overflow {
  overflow: auto;
}

/* line 231, src/sass/_utility.sass */
.overflow-x {
  overflow-x: auto;
}

/* line 233, src/sass/_utility.sass */
.overflow-y {
  overflow-y: auto;
}

/* line 237, src/sass/_utility.sass */
.w-full {
  width: 100%;
}

/* line 239, src/sass/_utility.sass */
.w-half {
  width: 50%;
}


