<template>
    <layout :sidebar-items="sidebarItems" @toggled="toggledEvent">
        <router-view slot="content" />
    </layout>
</template>

<script>
import layout from "../../layouts/off-canvas"

import authGuard from "../../../router/guards/auth"

export default {
    data () {
        return {
            sidebarItems: [
                {
                    menu: [
                        {
                            title: "Lingx",
                            route: {
                                path: "/"
                            }
                        }
                    ]
                },
                {
                    title: this.$store.getters['auth/user'].name,
                    menu: [
                        {
                            title: "Logout",
                            route: { name: "auth.logout" }
                        }
                    ]
                },
                {
                    title: "Sayuran",
                    menu: [
                        {
                            title: "Sawi",
                            route: {
                                name: "admin"
                            }
                        }
                    ]
                }
            ]
        }
    },

    methods: {
        toggledEvent (active) {
            //
        }
    },

    components: { layout },

    beforeRouteEnter: authGuard
}
</script>
