<template>
    <div class="px-3 pb-3">
        <div class="my-3">
            <span class="text-xl text-bold text">Circle</span>
        </div>
        <p>Ipsum occaecati quisquam dolores. Ducimus molestiae expedita. Repellat perferendis ab quod ut. Numquam natus nam aut nostrum beatae ut pariatur quisquam.</p>
    </div>
</template>

<script>
export default {

}
</script>
