<template>
    <layout :sidebar-items="sidebarItems">
        <div
            class ="d-center"
            slot  ="content">
            <card>
                <header
                    class= "my-3 text-center"
                    slot=  "header">
                    <h1 class= "text-xl text-bold">
                        {{ heading }}
                    </h1>
                    <div
                        class=  "text-sm text-bold"
                        :class= "{ 'text-error': error }">
                        {{ message }}
                    </div>
                </header>
                <router-view
                    @message= "messageEvent"
                    @created= "createdEvent"
                    slot=     "content" />
            </card>
        </div>
    </layout>
</template>

<style scoped>
    .d-center > .card {
        right:     -35%;
        top:       40%;
        max-width: 20rem;
    }
</style>

<script>
import layout   from "../../layouts/off-canvas"
import card     from "../../layouts/card"

import guestGuard from "../../../router/guards/guest"

export default {
    data () {
        return {
            message: "",
            heading: "",

            error: false,

            sidebarItems: [
                {
                    menu: [
                        {
                            title: "Lingx",
                            route: {
                                path: '/'
                            }
                        }
                    ]
                },
                {
                    title: "Auth",
                    menu: [
                        {
                            title: "Login",
                            route: {
                                name: 'auth.login'
                            }
                        },

                        {
                            title: "Registration",
                            route: {
                                name: 'auth.register'
                            }
                        }
                    ]
                }
            ]
        }
    },

    methods: {
        createdEvent ({ heading, message }) {
            this.heading = heading
            this.message = message
            this.error   = false
        },

        messageEvent (message, options) {
            const { error } = Object.assign({ error: false }, options)

            this.error   = error
            this.message = message
        }
    },

    components: { layout, card },

    beforeRouteEnter: guestGuard
}
</script>
