<template>
    <form @submit="submitEvent">
        <input
            v-model     = "emailModel"
            class       = "w-full"
            type        = "email"
            placeholder = "E-mail"
            required>
        <input
            v-model     = "passwordModel"
            class       = "w-full"
            type        = "password"
            placeholder = "Password"
            required>
        <button class="primary w-full">
            Login
        </button>
    </form>
</template>

<script>
export default {
    data () {
        return {
            emailModel:    null,
            passwordModel: null,

            heading: "Login Lingx",
            message: "Enter your e-mail and password"
        }
    },

    methods: {
        submitEvent (event) {
            event.preventDefault()

            this.$emit('message', 'Wait, proccessing...')

            this.$store.dispatch('auth/login', this.formData)

                .then(() => {
                    this.$emit('message', 'Login success!')

                    this.$router.push({ name: "admin"})
                })

                .catch(error => {
                    console.log(error.response);

                    this.$emit('message', error, { error: true })

                    setTimeout(() => this.$emit('message', this.message + " again"), 1500)
                })
        }
    },

    computed: {
        formData () {
            return {
                email:    this.emailModel,
                password: this.passwordModel
            }
        }
    },

    created () {

        const { heading, message } = this.$data

        this.$emit('created', { heading, message })
    }
}
</script>
