<template>
    <form @submit="submitEvent">
        <input
            v-model     =   "emailModel"
            class       =   "w-full"
            type        =   "email"
            placeholder =   "E-mail"
            required>
        <input
            v-model     =   "passwordModel"
            class       =   "w-full"
            type        =   "password"
            placeholder =   "Password"
            required>
        <div class="py-1 float-left">
            <input
                v-model =   "rememberModel"
                type    =   "checkbox"
                id      =   "cb1">
            <label for="cb1">
                Remember
            </label>
        </div>
        <button class="primary float-right">
            Login
        </button>
    </form>
</template>

<script>
import axios from "axios"

export default {
    data () {
        return {
            emailModel:    null,
            passwordModel: null,
            rememberModel: false,

            heading: "Login Lingx",
            message: "Input your e-mail and password"
        }
    },

    methods: {
        submitEvent (event) {
            event.preventDefault()

            const { email, password, remember, device } = this.formData

            this.$emit('message', 'Proccessing...')

            axios.post('/api/v1/auth/login', { email, password, device })
                 .then(this.loginSuccess)
                 .catch(this.loginError)
        },

        loginSuccess ({ data }) {

            this.$router.push({ name: "admin" })

        },

        loginError (error) {

            setTimeout(() => this.$emit('message', this.message), 1500)

            if(error.response) {

                return this.$emit('message', 'These credentials do not match our records.', true)

            }

            this.$emit('message', error.message, true)
        }
    },

    computed: {
        formData () {
            return {
                email:    this.emailModel,
                password: this.passwordModel,
                remember: this.rememberModel,
                device:   window.navigator.userAgent
            }
        }
    },

    created () {
        const { heading, message } = this.$data

        this.$emit('created', { heading, message })
    }
}
</script>
